/* Add this CSS in your Cartcard.css */

.Cartcardlist {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px auto; /* Center the card horizontally with 'auto' margins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 400px; /* Set a maximum width for the card */
}

.Cartcardlist:hover {
  transform: scale(1.02);
}

.innerCartcardlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.innerCartcardlist img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Add this CSS in your Cartcard.css */

.productdes {
  flex-grow: 1; /* Allow the text to grow and fill available space */
}

.productdes p {
  margin: 8px 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: left;
  line-height: 1.2;
}

.productdes p:last-child {
  margin-bottom: 0; /* Remove margin for the last paragraph */
}

.buttonstyle {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonstyle:hover {
  background-color: #45a049;
}

.bt {
  margin-top: 8px; /* Adjust as needed */
  padding: 8px 12px;
  background-color: rgb(180, 145, 54);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bt:hover {
  background-color: #45a049;
}

.totalbill {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}
